<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Playstation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  -->
    <script src="https://kit.fontawesome.com/f6f5433a85.js" crossorigin="anonymous" ></script>  
    <link rel="stylesheet" href="../Styles/Renato.css">

</head>

  <body>
    <div class="barra_sony">
      <div class="nome_societa'">
       <p class="sony_name">SONY</p>
     </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <div class="logo-nav-bar">
            <a href="https://www.playstation.com/it-it/"><i class="fa-brands fa-playstation"></i></a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Giochi
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://www.playstation.com/it-it/ps5/games/?smcid=pdc%3Ait-it%3Aeditorial-this-month-on-playstation-23-great-games-to-look-forward-to-in-2023%3Aprimary%20nav%3Amsg-games%3Aps5">PS5</a></li>
                  <li><a class="dropdown-item" href="https://www.playstation.com/it-it/ps4/ps4-games/?smcid=pdc%3Ait-it%3Aeditorial-this-month-on-playstation-23-great-games-to-look-forward-to-in-2023%3Aprimary%20nav%3Amsg-games%3Aps4">PS4</a></li>
                  <li><a class="dropdown-item" href="https://www.playstation.com/it-it/ps-vr/ps-vr-games/?smcid=pdc%3Ait-it%3Aeditorial-this-month-on-playstation-23-great-games-to-look-forward-to-in-2023%3Aprimary%20nav%3Amsg-games%3Aps-vr">PS VR</a></li>
                  <li><a class="dropdown-item" href="https://www.playstation.com/it-it/ps-plus/whats-new/?">PS Plus</a></li>
                  <li><a class="dropdown-item" href="https://store.playstation.com/it-it/pages/latest">Compra giochi</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Hardware
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://www.playstation.com/it-it/ps5/?smcid=other%3Ait-it%3Ablank%3Aprimary%20nav%3Amsg-hardware%3Aps5">PS5</a></li>
                  <li><a class="dropdown-item" href="https://www.playstation.com/it-it/ps4/?smcid=pdc%3Ait-it%3Aps5%3Aprimary%20nav%3Amsg-hardware%3Aps4">PS4</a></li>
                  <li><a class="dropdown-item" href="https://www.playstation.com/it-it/ps4/ps4-pro/?smcid=pdc%3Ait-it%3Aps4%3Aprimary%20nav%3Amsg-hardware%3Aps4-pro">Ps4 Pro</a></li>
                  <li><a class="dropdown-item" href="https://www.playstation.com/it-it/ps-vr2/?smcid=pdc%3Ait-it%3Aps4-ps4-pro%3Aprimary%20nav%3Amsg-hardware%3Aps-vr2">PS VR2</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Servizi
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://www.playstation.com/it-it/ps-plus/?smcid=pdc%3Ait-it%3Aps-vr2%3Aprimary%20nav%3Amsg-services%3Aps-plus">Ps Plus</a></li>
                  <li><a class="dropdown-item" href="https://www.playstation.com/it-it/playstation-stars/?smcid=pdc%3Ait-it%3Aps-vr2%3Aprimary%20nav%3Amsg-services%3Aps-stars">Ps Stars</a></li>
                  
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Novita'
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://blog.it.playstation.com/?smcid=pdc%3Ait-it%3Aplaystation-stars%3Aprimary%20nav%3Amsg-news%3Aps-blog">PS Blog</a></li>
                  <li><a class="dropdown-item" href="https://www.playstation.com/it-it/editorial/this-month-on-playstation/?smcid=pdc%3Ait-it%3Aeditorial-this-month-on-playstation%3Aprimary%20nav%3Amsg-news%3Aquesto-mese-su-playstation">Questo mese su Playstation</a></li>
                  
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Fai acquisti
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://store.playstation.com/it-it/pages/latest">Digital Games and Service</a></li>
                  <li><a class="dropdown-item" href="https://gear.playstation.com/Main/Splash">PS Gear</a></li>
                  
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Supporto
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://www.playstation.com/it-it/support/?smcid=other%3Ait-it%3Ablank%3Aprimary%20nav%3Amsg-support%3Asupporto">Supporto</a></li>
                  <li><a class="dropdown-item" href="https://status.playstation.com/?smcid=pdc%3Ait-it%3Asupport%3Aprimary%20nav%3Amsg-support%3Astato-del-psn">Stato del PSN</a></li>
                  
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <button class="accedi">Accedi</button>
            <input class="form-control me-2" type="search" placeholder="Cerca.. "  aria-label="Search">
            </form>
          </div>
        </div>
      </nav>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>