<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../Styles/Renato.css">
</head>

<body>



  <div class="barra_sony">

   

    <div class="nome_societa'">

      <p>SONY</p>

    </div>

  

  <div class="navbar">

    <a class="navbar-brand" href="/">
      <div class="logo-image">
            <img src="https://www.pngarts.com/files/3/PlayStation-Logo-PNG-Image.png" class="img-fluid">
      </div>
</a>
   <div class="dropdown">
      <button class="dropbtn">Giochi
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">PS5</a>
        <a href="#">PS4</a>
        <a href="#">PS VR</a>
        <a href="#">PSPlus</a>
        <a href="#">Compra Giochi</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Hardware
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">PS5</a>
        <a href="#">PS4</a>
        <a href="#">PS4 Pro</a>
        <a href="#">PS VR2</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Servizi
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">PS Plus</a>
        <a href="#">PS Stars</a>

      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Novita'
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">PS Blog</a>
        <a href="#">Questo mese su Playstation</a>

      </div>
    </div>


    <div class="dropdown">
         <button class="dropbtn">Fai acquisti
          <i class="fa fa-caret-down"></i>
        </button>
      <div class="dropdown-content">
        <a href="#">Digital Games and Services</a>
        <a href="#">PS Gear</a>

      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Supporto
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Supporto</a>
        <a href="#">Stato del PSN</a>
      </div>
      </div>
         <button class="login">accedi</button>

         <input type="text" class="search" placeholder="Search..">

      </div>


</body>

</html>