<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/Fernando.css">
    <script
      src="https://kit.fontawesome.com/f6f5433a85.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
</head>

<body>
    
    <section id="footer">

        <div class="contenitore-grigio">
            
            <h3>Seguici sui social media</h3>
            
            <div class="social-link">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-twitch"></i></a>
            </div>


        </div>
        


        <div class="contenitore-blue">
            <div class="footer-blue-grid">
                <div class="footer-logo-paese">
                    <img src="https://www.playstation.com/etc.clientlibs/global_pdc/clientlibs/clientlib-base/resources/ps-bug.svg" alt="">
                    <p><a href="#"><i class="fa-solid fa-globe"></i> Country / Region: Italia</a></p>
                </div>

                <div class="footer-nav-vertical">
                    <div>
                        <ul>
                            <li><a href="#">Supporto</a></li>
                            <li><a href="#">Informativa sulla privacy e sui cookie</a></li>
                            <li><a href="#">Termini di utilizzo del sito Web</a></li>
                            <li><a href="#">PlayStation Studios</a></li>
                            <li><a href="#">Termini legali</a></li>
                            <li><a href="#">Chi siamo</a></li>
                            <li><a href="#">PlayStation e l'ambiente</a></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#">Termini di servizio di PSN</a></li>
                            <li><a href="#">Termini di annullamento del PS Store</a></li>
                            <li><a href="#">Avvertenze per la salute</a></li>
                            <li><a href="#">Classificazioni per età</a></li>
                            <li><a href="#">Termini d'uso del Software</a></li>
                            <li><a href="#">Lavora con PlayStation</a></li>
                            <li><a href="#">Mappa del sito</a></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">YouTube</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-legal">
                <div>
                    <img src="https://www.playstation.com/etc.clientlibs/global_pdc/clientlibs/clientlib-base/resources/sie.svg" alt="">
                    <p>Website ©2023 Sony Interactive Entertainment Europe Limited.
                       Tutti i contenuti, nomi dei giochi, nomi commerciali e/o di
                       abbigliamento, marchi registrati, grafica e immagini associati sono
                       marchi registrati e/o materiale protetto da copyright dei rispettivi
                       proprietari. Tutti i diritti riservati. <a href="#">Maggiori info</a></p>
                </div>

                </div>
            </div>
        </div>


    </section>


</body>
</html>