/*   CSS TASTO SEARCH */

input.form-control.me-2 {
    margin-right: .5rem!important;
    width: 60%;
    position: relative;
    left: 40%;
}

/* CSS per barra nera sony*/

.barra_sony {
    background-color: black;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    
    
}

img.logo_sony {
    background-color: #000;
    min-height: 36px;
    max-width: 75px;
    width: 100%;
   
}
/* NAVBAR CSS */

.logo-nav-bar a {
    font-size: 40px;
    margin: 0 25px 0 15px;
    color:rgb(0, 112, 204);
}

.navbar-nav {
    margin: 0;
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color:  rgb(0, 112, 204);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a.dropdown-item:hover {

    color:  rgb(0, 112, 204);


}


/* tasto accedi */

button.accedi {
    background-color: rgb(0, 112, 204);
    border-radius: 20px;
    height: 45%;
    top: 22px;
    position: absolute;
    color: white;
    border: none;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0px 12px;
}

button.accedi:hover {

    background-color: rgb(1, 53, 95);
    
}

.accedi a {

    text-decoration: none;
    color: white;
    
}


/* CSS primo blocco */

section.first_block {
    background-image: url(https://gmedia.playstation.com/is/image/SIEPDC/ps4-games-page-banner-desktop-01-en-13dec21?$4000px$);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding: 12%;
}
.text_block1 {
    background-color: black;
    opacity: 80%;
    width: 644px;
    height: 343px;
}

.div.blocco_testo div h1 {
    font-size: 2.5rem;
    padding: 4%;
}

div.ps4_logo img {
    width: 383px;
    height: 78px;
}

.div.msg1 {
    text-align: center;
    padding: 10%;
    color: white;
}

.text_block1 {
    padding: 4%;
    color: white;
    background-color: black;
    opacity: 80%;
    width: 644px;
    height: 343px;
    margin: auto;
    text-align: center;
}


/* CSS secondo blocco */

section.second_block {
    display: block;
    width: 100%;
    text-align: center;
    padding: 2%;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding: 6%;

}

.kratos {
    width: 100%;
}

.gow_box {
    display: flex;
    padding: 4%;
}

.gow_video {
    width: 190%;
}

video.gow_trailer {
    border-radius: 27px;
    width: 64%;
}
video.gow_trailer:hover{
    width: 67%;
    
}
    

.box_gow_info {
    display: block;
    text-align: left;
}



p.gow-txt-style {
    display: block;
    text-align: left;
    
}




button.gow_more_info {
    background-color: rgb(0 112 204);
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px 12px;

}

button.gow_more_info:hover {
    outline: 2px solid rgb(0 112 204);
    outline-offset: 2px;
}

.horizon {
    width: 100%;
}

.horizon_box {
    display: flex;
    padding: 4%;
   
}

video.horizon_trailer {
    border-radius: 27px;
    width: 60%;
}

video.horizon_trailer:hover {
   
    width: 63%;
}

.box_horizon_info {
    display: block;
    text-align: left;
}